body {

    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.black-logo {
    display: none;
    /* display: flex; */
    justify-content: flex-start;
}

.mmm {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-style: solid 3px;
    list-style-type: none;
    color: white;
}

.white-logo {
    padding-top: 20px;
}

button {
    width: 150px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

header {
    background-image: url("./images/fond-page4.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    position: relative;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.403);
}

header .article1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .article2 h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    /* padding: 90px; */
    font-size: 64px;
    font-weight: bolder;
}

header .article2 {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header .article2 p {
    color: black;
    font-weight: 400;
}

header .article2 h4 {
    color: red;
    font-weight: bolder;
}


header .article2 h3 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.w30 {
    display: none;
}

header section img {
    width: 150px;
}

.container {
    background-color: rgba(255, 255, 255, 0.574);
    margin-left: 100px;
    margin-right: 100px;
}

.article3 {
    /* color: black;
    font-size: 20px;
    font-style: bolder; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    padding-left: 60px;
}

.h4 {
    border-bottom: solid #fb2056 3px;
    width: 70px;
    margin-left: 10px;
}

.article3 p {
    font-weight: bolder;
}

.article3 h5 {
    color: black;
    font-size: 34px;
    font-weight: bold;
}

.troisimg {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 200px;
}

.w {
    width: 25%;
    border-radius: 2%;
    gap: 1;
}

.w30 {
    width: 25%;
    border-radius: 2%;
    gap: 1;
}

.w50 {
    width: 25%;
    border-radius: 2%;
    gap: 1;
}

footer {
    height: 200px;
    background-color: black;
    padding-top: 70px;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

footer p {
    text-align: center;
}

@media (max-width:920px) {


    .white-logo {
        display: none;
    }

    .menu {
        display: none;
    }

    .top {
        background-color: white;
        width: 920px;
        height: 70px;
    }

    .black-logo {
        display: none;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        align-items: self-start;
    }

    .mmm {
        width: 20px !important;
        height: 20px !important;
        display: flex;
        justify-content: space-between;

    }

    header .article2 h1 {
        font-size: 64px none;
        font-size: 44px !important;
    }

    /* .he {
        width: 920px;
        height: 50vh;
        height: 80vh none;
        height: 50vh !important;
        background-attachment: scroll;
    } */

    */ .container {
        margin-left: 0px;
        margin-right: 100px;
    }

    .article3 {
        margin-top: 50px;
        padding-left: 30px;
    }

    .w {
        display: none;
    }

    .w50 {
        width: 45%;
        gap: 1;
    }

}


@media (max-width:425px) {

    body {
        width: 100%;
    }

    header {
        width: 75%;
        height: 50vh;
        background-attachment: scroll;
    }

    header .article2 h1 {
        font-size: 64px none;
        font-size: 44px !important;
    }
     
    .white-logo {
        display: none;
    }

    .menu {
        display: none;
    }

    .top {
        background-color: white;
        width: 100%;
        height: 70px;
    }

    .article2 h1 {
        padding-top: 60px;
        font-size: 64px none;
        font-size: 30px !important;
    }

    .p-12 {
        width: 80%;
        padding: 0;
        margin: 0;
    }

    .black-logo {
        width: 100px;
        height: 40px;
        display: none;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        align-items: self-start;
    }

    .mmm {
        width: 20px !important;
        height: 20px !important;
        display: flex;
        justify-content: space-between;

    }

    .w30 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .w {
        display: none;
    }

    .w50 {
        display: none;
    }

    .container {
        margin-left: 0px;
        margin-right: 80px;
    }  
  

}

   