body {

    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.black-logo {
    display: none;
    /* display: flex; */
    justify-content: flex-start;
}

.mmm {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-style: solid 3px;
    list-style-type: none;
    color: white;
}

.white-logo {
    padding-top: 20px;
}

button {
    width: 150px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

header {
    background-image: url(./images/fond-page3.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.403);


    /* width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.698); */

}

.menu {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-style: solid 3px;
    list-style-type: none;
    color: white;
    text-decoration: none;
}

button {
    width: 150px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.article1 img {
    width: 150px;
    height: 40px;
}

header .article1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .article2 {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header .article2 h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 90px;
    font-size: 64px;
}

.article3 p {
    color: black;
    margin-top: 70px;
    padding: 0;
    font-size: 34px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.article3 h4 {
    text-align: center;
    color: crimson;
    font-weight: bold;
}

.article3 h5 {
    color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.article3 h6 {
    color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.deux-images2 {
    display: flex;
    justify-content: space-between;
}

.deux-images1 {
    display: flex;
    justify-content: space-between;
}

.deux-images1 p {
    text-align: center;
}

.deux-images2 p {
    text-align: center;
}

.un-image {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.un1 {
    filter: drop-shadow(30px 10px 4px grey);
}

.un-image p {
    font-size: large;
}

.ev {
    font-weight: bold;
}

.container {
    background-color: rgba(255, 255, 255, 0.574);
    display: flex;
    flex-direction: column;
}

.un1 {
    width: 505px;
    height: 302px;
}

.section1 {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;

}

.section2 {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;


}

.basservices {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

h6 {
    color: rgb(6, 0, 0);
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.souligner {
    color: crimson;
    font-weight: bolder;
}

.ligne {
    color: crimson;
    font-weight: bolder;
}

.list {
    margin: 0;
    padding: 0;
    width: 12px;
    display: inline-block;
    text-align: center;
    border-color: crimson;

}

.inlinetext p {
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-start;
    padding-left: 10px;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mission {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    text-align: left;
}

footer {
    height: 200px;
    background-color: black;
    padding-top: 70px;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

footer p {
    text-align: center;
}

@media (max-width:920px) {
    body{
        width: 920px;
    }
    .white-logo {
        display: none;
    }

    .menu {
        display: none;
    }

    .top {
        background-color: white;
        width: 100%;
        height: 7vh;
    }
    
    header{
        width: 100%;
        height: 50vh;  
        background-attachment: scroll;
    }
 

    .black-logo {
        display: none;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        align-items: self-start;
    }

    .mmm {
        width: 20px !important;
        height: 20px !important;
        display: flex;
        justify-content: space-between;

    }

    h1 {
        font-size: 44px !important;

    }

    .un1 {
        max-width: 100%;
    }

    .ev {
        max-width: 80%;
    }

    .deux-images {
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        /* flex-direction: column; */

    }

    .un-image {
        max-width: 450px;
        display: flex;
        /* flex-direction: column; */
        align-self: center;
        padding-bottom: 10%;
    }

    .un1 {
        width: 300px;
        height: 200px;
    }

    .container {
        padding-top: 3%;
        width: 100%;
        display: flex;
        /* flex-direction: column; */
    }

    .container section1 {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }

    .imgs {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }

    .basservices {
        flex-wrap: nowrap;
    }
}

@media (max-width:425px) {

    body {
        width: 80%;
    }

    header {
        width: 100%;
        height: 40vh;
        background-attachment: scroll;
    }

    .white-logo {
        display: none;
    }

    .menu {
        display: none;
    }

    .top {
        background-color: white;
       width: 100%;
       height: 50px;
    }

    .black-logo {
        width: 100px !important;
        height: 28px !important;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    header {
        width: 100%;
        height: 30vh;
        background-attachment: scroll;
    }
    header .article2 h1 {
        margin: 0;
        padding-top: 25px;
        font-size: none;
        font-size: 30px !important;
    }

    .article1 {
        width: 100%;

    }

    .article2 {
        width: 80%;
        height: 35vh;
    }

    .mmm {
        width: 20px !important;
        height: 20px !important;
        display: flex;
        justify-content: space-between;

    }

    h1 {
        font-size: 30px !important;
    }

    .article3 {
        width: 80%;
        padding-left: 10%;
    }

    .h5 {
        display: flex;
        justify-content: center;
    }


    .section1 {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3rem none;
        padding-left: 3rem none;
        padding-right: 3rem none;
        padding-bottom: 3rem none;



    }

    .section2 {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding-top: 3rem none;
        padding-left: 3rem none;
        padding-right: 3rem none;
        padding-bottom: 3rem none;
    }


    .basservices {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        text-align: start;
        padding-top: 3rem none;
        padding-left: 3rem none;
        padding-right: 3rem none;
        padding-bottom: 3rem none;
        margin-top: 1rem none;
        margin-left: 2rem none;
        margin-right: 2rem none;
        margin-bottom: 1rem none;
    }

    .mission {
        text-align: start;
        width: 80%;
    }
    .container{
        padding: 0;
        margin: 0;
    }
    footer {
    padding-left: 5%;
    padding-right: 10%;
    
    }

}